/* 首页样式表 */
/* 顶部导航条容器 */
.bar-wrapper{
    /* 宽度就是屏幕的宽度 */
    background-color: #333;
    height:40px ;
}
/* 设置顶部导航条的内部容器 */
.bar-wrapper .top-bar{
    height: 100%;
}
/* 设置左侧导航条 */
.link-bar{
    /* 向左浮动 */
    float: left;
}
/* 设置左侧的二维码 */
.code{
    width: 124px;
    height: 150px;
    background-color: rgb(240, 231, 231);
    position: absolute;
}
.code img{
    margin:20px;
}
.info-bar,.car-bar{
    float:right;
}
/* 设置超链接的样式 */
.bar-wrapper a{
    /* 转换成行内块 */
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #B0B0B0;
    /* 去除下划线 */
    text-decoration: none;
}
.bar-wrapper a:hover{
    color:#fff;
}
/* 超链接样式设置结束 */

/* 设置导航条中的竖线样式 */
.bar-wrapper .line{
    font-size: 12px;
    color: #424242;
    margin:0 1px;
}
/* 设置购物车鼠标移入效果 */
.car-bar:hover a{
    color: #ff6700;
    background-color: #fff;
}
/* 设置导航条中购物车的样式 */
.car-bar a{
    /* 这种因为只有一个，所以用block */
    display: block;
    width:120px;
    margin-left: 15px;
    text-align: center;
    background-color: #424242;
}


